<div class="container d-flex">
  <div class="row align-self-center">
    <div class="card-deck">
      <div class="card">
        <h1 class="card-header">Ajouter une matière</h1>
        <div class="text-danger">
          <ul *ngIf="!formSubmitted">
            <li *ngIf="myForm.controls['name'].errors?.['required']">Le nom est requis</li>
            <li *ngIf="myForm.controls['color'].errors?.['required']">La couleur est requise</li>

          </ul>
        </div>
        <form [formGroup]="myForm" (ngSubmit)="submitForm()">
          <div class="card-body">
            <div class="card-body">
              <div class="form-text">
                <label for="name">Nom de la matière</label>
                <input type="text" id="name" formControlName="name">
              </div>
              <div class="form-text">
                <label for="color">Couleur</label>
                <input type="text" id="color" formControlName="color">
              </div>
            </div>

          </div>
          <div class="card-footer">

            <button class="btn btn-outline-primary" type="submit" type="button" routerLink="../">Ajouter</button>
            <button class="btn btn-outline-primary" type="button" routerLink="../">Annuler</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
