<header>

  <nav class="navbar">
    <a href="#" class="logo">Team1</a>
    <div class="navlinks" [class.is-open]="isMenuOpen">
      <ul>
        <li class="home"><a href="schools">Home</a></li>
        <li><a href="schools/{{sId}}/klasses">Liste des classes</a></li>
        <li><a href="schools/{{sId}}/teachers">Liste des professeurs</a></li>
        <li><a href="schools/{{sId}}/subjects">Liste des matières</a></li>
        <li><a href="schools/{{sId}}/rooms">Liste des salles de classe</a></li>
      </ul>
    </div>
    <img src="assets/images/menu-btn.png" class="menu-hamburger" (click)="toggleMenu()">
  </nav>

</header>
