
<div class="card">
  <h4 class="card-header">{{school?.name}} </h4>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item">{{school?.address}} </li>
      <li class="list-group-item">{{school?.typeSchool}} </li>
      <li class="list-group-item">{{school?.phone}} </li>
    </ul>
  </div>
</div>

<button type="button" class="btn btn-primary" routerLink="/schools/param/{{school?.id}}">Parametrer</button>
<button type="button" class="btn btn-primary" routerLink="/schools/{{school?.id}}">Afficher Détails</button>

