*{
  margin:0;
  padding:0;
  text-decoration:0;
  list-style: none;

}


.container .card {
  display: flex;
  justify-content: center;
  align-items: center;

  position:relative;
  width:260px;
  height:400px;
  background: rgba(255,255,255,0.06);
  box-shadow: 0 15px 35px rgba(0,0,0,0.2);
  margin:50px;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.1);



  /*backdrop-filter: blur(10px) saturate(180%);*/

}

.container .card .content{
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.7;
  transition: 0.5s;
}

.container .card:hover .content{
  opacity: 1;
}

.container .card .icons{
  position: absolute;
  display: flex;
  bottom:50px;
  /*color:whitesmoke;*/
  /*font-size: 16px;*/
  /*transform:translateY(0px);*/
}

.container .card .icons li{
  margin: 0 10px;
  transform: translateY(30px);
  opacity: 0;
  transition: 0.5s;
}

.container .card:hover .icons li{
  transform: translateY(0px);
  opacity:1;
}

.container .card .icons li a{
  color: whitesmoke;

}


.container .card .content ul li{
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  margin: 20px 0 10px;
}

.container .card .content ul h3{
  text-align: center;
  transform: translateY(-40px);
}


.btn{
  padding: 1px 5px;
}
h3{
  cursor:pointer;
}
