<div class="card w-50">
  <h4 class="card-header">{{school?.name}} </h4>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item">
        {{school?.address}}<br>
        {{school?.typeSchool}}<br>
        {{school?.phone}}<br>
      </li>
    </ul>
    <br>
    <ul class="list-group">
      <li class="list-group-item">Nombre de professeurs : <br>
        <button type="button" class="btn btn-outline-primary" routerLink="/schools/param/{{school?.id}}">
          Gérer les professeurs</button>
      </li>
      <li class="list-group-item">Nombre de matières :<br>
        <button type="button" class="btn btn-outline-primary" routerLink="/schools/param/{{school?.id}}">
          Gérer les maières</button>
      </li>
      <li class="list-group-item">Nombre de classes :<br>
        <button type="button" class="btn btn-outline-primary" routerLink="/schools/param/{{school?.id}}">
          Gérer les classes</button>
      </li>
      <li class="list-group-item">Nombre de salles de classe :<br>
        <button type="button" class="btn btn-outline-primary" routerLink="/schools/param/{{school?.id}}">
          Gérer les salles</button>
      </li>
    </ul>
  </div>
</div>
<br>
<div>
  <button type="button" class="btn btn-outline-info" routerLink="/schools">Retour liste établissement</button>
</div>

