<div class="corps">
  <h2>Liste des professeurs</h2>

  <div *ngIf="teachers.length < 1">
    Pas de professeur
  </div>
  <div *ngIf="teachers.length > 0">
    <div class="container">
      <app-teacher *ngFor="let t of teachers" [teacher]="t" routerLink="{{t.id}}"></app-teacher>
      <div class="button">
        <button type="submit" class="btn btn-outline-info" routerLink="./add">Ajouter un professeur</button>
        <span><button type="button" class="btn btn-outline-info" routerLink="../">Retour</button></span>
      </div>
    </div>

  </div>


</div>

