<div class="card w-50">

  <h1 class="card-header">Paramétrage</h1>
  <div class="text-danger">
    <ul *ngIf="!formSubmitted">
      <li></li>
    </ul>
  </div>
  <form [formGroup]="myForm" (ngSubmit)="submitForm()">
    <div class="card-body">
      <div class="form-text">
        <label for="lastName">Nom de famille</label>
        <input type="text" id="lastName" formControlName="lastName">
      </div>
      <div class="form-text">
        <label for="firstName">Prenom</label>
        <input type="text" id="firstName" formControlName="firstName">
      </div>
      <div>
        <label for="dateOfBirth">Date de naissance</label>
        <input type="date" id="dateOfBirth" formControlName="dateOfBirth">
      </div>

      </div>
      <div class="card-footer">
        <button class="btn btn-outline-info" type="submit">Ajouter</button>
      </div>
  </form>
</div>
